/*
 * header css File
*/

.header{
    /* position: absolute;
    top: 30px;
    width: 100%;
    z-index: 9; */
    border-bottom: 2px solid rgba(0,0,0,0.1);
    padding: 10px 0;
}

.inner_header{
    padding:0 50px;
}
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}