/*
 * header css File
*/

.header {
    background: #fff;
    padding-top: 66px;
}

.header .bg-light {
    background-color: #fff !important;
}


.site_presented {
    font-size: 14px;
}

.navbar-brand {
    min-width: 190px;
    text-align: center;
}

.navbar-brand img {
    max-width: 120px;
}

.navbar {
    align-items: flex-end;
}

.navbar.bg-dark {
    background-color: #2F2E2E !important;
}

@media screen and (max-width:767px) {
    .header_top_section {
        justify-content: center !important
    }
}