input {
    height: 60px;
    border: 2px solid #0000004D;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

input::placeholder{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000099;

}

.loginForm .form-label {
font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
float: left;
color:rgba(0, 0, 0, 0.6);
}

.loginForm .form-label span {color:#ff0000}